h1{
    background-color: aquamarine;
    color: brown;
    width: 200px;
    margin: 50px auto;
    padding: 10px;
}
p{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: paleturquoise;
    margin: 10px auto;
    width: 500px;
    padding: 10px;
}
.name{
    width: 160px;
    margin: 10px 10px 10px 1000px;
    background-color: peachpuff;
}